extends ../_shared/layout
block head
    script(src='/public/scripts/allUsers.js')
block body
  .col-md-offset-2.col-md-8
    ul.no-padding.overflow-scroll
        each user in users         
            li
                div.flex-content.position-relative
                    a.user-remove(title='remove' data-id=''+user._id) X
                    .user-characteristics
                        h4
                            span.bold First Name: 
                                 =user._firstname
                        h4
                            span.bold Last Name: 
                                =user._lastname
                        h4
                             span.bold Username: 
                                =user._username
                        h4
                            span.bold Email: 
                                =user._email
                        h4
                            span.bold Role: 
                                =user._role
