extends ../_shared/layout
block body
  .col-md-offset-4.col-md-4.bordered.rounded
    form(action="/users/login" method="Post") 
      .form-group
        label(for='username') 
          |Username:
        input#username.form-control(name="username" type='text' required)
      .form-group
        label(for='password')
          |Password:
        input#pwd.form-control(name="password" type='password' required)
      button.btn.btn-default(type='submit')
        | Login
