body {
    overflow-x: hidden;
}

header {
    width: 100%;
    z-index: 100;
}

#container {
    padding-top: 1%;
}

.cart {
    color: white;
}

.cart:hover {
    color: #15FF00;
}

#cd-cart {
    position: fixed;
}

.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    font-size: 15px;
    line-height: 1.428571429;
    border-radius: 100%;
    background-color: #1489F0;
}

.position-fixed {
    position: fixed;
}

.position-relative {
    position: relative;
}

#container {
    position: relative;
    top: 50px;
}

aside,
main {
    float: left;
    margin: 10px;
}

aside {
    top: 50px;
}

h1,
h2,
h3,
h4 {
    color: #446E9B;
    margin: 5px;
}

a {
    color: #446E9B;
    cursor: pointer;
}

li {
    list-style-type: none;
}

#navbar-brand-id {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    height: 38px;
    border-radius: 10px;
    display: inline-block;
    text-align: middle;
}

.cart-book-info {
    float: left;
    padding: 0px;
    color: #446E9B
}

.no-padding {
    padding: 0px;
}

#login-control,
#search-control {
    margin: 5px;
}

#shopping-cart-menu {
    top: 50px;
    border: 2px solid #E5E5E5;
    color: #446E9B;
    border-radius: 5px;
    padding: 5px;
}

.activated {
    color: #15FF00;
}

.hidden {
    display: none;
}

.form-login {
    width: 250px;
    margin: 5px;
}

.form-register {
    width: 250px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}

.color-black {
    color: black;
}

h4 span {
    font-weight: normal;
}

.extra-small {
    width: 80px;
    height: 120px;
    margin: 5px;
}

.small {
    margin-top: 10px;
    width: 150px;
    height: 200px;
    margin-left: 10px;
    display: inline-block;
}

.large {
    width: 250px;
    height: 400px;
}

.book-price {
    color: red;
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
}

.book-price-green {
    color: limegreen;
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
}

.overflow-scroll {
    overflow-y: scroll;
    height: 420px;
}

.checkout-cart {
    overflow-y: scroll;
    height: 420px;
}

.price-container {
    border: 1px solid #E5E5E5;
}

.book-container {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    float: left;
    margin: 10px;
}

.shopping-cart-book-container {
    border: 1px solid #E5E5E5;
}

.book-presentation-container {
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    height: 350px;
    position: relative;
}

.book-presentation-price {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
}

.book-cart-price {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 90px;
}

.btn-remove {
    right: 0px;
    position: absolute;
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid white;
    text-align: center;
    line-height: 14px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.book-presentation-title {
    font-weight: bold;
    width: 160px;
}

.book-presentation-author {
    font-weight: bold;
    width: 160px;
}

.book-container a {
    color: black;
    font-weight: normal;
}

.flex-content {
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    display: flex;
    margin: 5px;
}

.word-wrap {
    word-wrap: break-word;
    width: 150px;
}

.order-details {
    margin: 10px;
}


/*Dropdown menu styles*/

aside .btn {
    background-image: none;
    cursor: default;
    color: black;
    background-color: #FFF;
    border-radius: 4px;
    text-align: left;
    width: 100%;
    height: 100%;
}

aside .caret {
    position: absolute;
    right: 16px;
    top: 16px;
}


/* aside .btn-default:hover,
aside .btn-default:focus,
aside .btn-default:active,
aside .btn-default.active,
aside .open .dropdown-toggle.btn-default {
    background-color: #FFF;
} */


/* aside .btn-default:active,
aside .btn-default.active,
aside .open>.dropdown-toggle.btn-default {
    color: black;
} */

aside .btn-default:focus,
aside .btn-default.focus {
    color: black;
    background-color: none;
    background-image: none;
}

aside .btn-group.open .dropdown-toggle {
    box-shadow: 0 1px 1px #1489F0;
}

aside .btn-group {
    width: 100%
}

aside .dropdown-menu {
    width: 100%;
}


/*Share button styles*/

.share-btn {
    cursor: pointer;
    height: 34px;
    display: inline-block
}


/* classes to reuse */

.bordered {
    border: 2px solid #e6ffe6;
}