h1#home-header Search through our library
each item in context
    div.book-container.book-presentation-container
        if isAdmin
            a.remove-button(data-id=item._id) X
        img.small(src=""+item._picture, onerror="src='http://demo.makitweb.com/broken_image/images/noimage.png'")       
        div.book-characteristics              
            h4.book-presentation-title 
                | Title:
                a.book-title(href="/books/"+item._id)
                    =item._title
            h4.book-presentation-author
                | Author: 
                a.book-author(href="/authors/"+item._author)
                    =item._author
            h4.book-presentation-price  
                | Price: 
                span.book-price
                    =item._price
div(style="clear: both;")
.text-center
    each index in indeces
        div.btn-group.btn-page-div.col-centered
            a.btn.btn-primary.btn-page(href="?page="+index data-route=''+marker)
                =index

