extends _shared/layout
block head
    script(src='/public/scripts/home.js')
block body
      .row
        aside.col-md-2.position-fixed
          div.dropdown
            button.form-control.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | Genres
              span.caret
            ul.dropdown-menu#genres-dropdown
          #filters
            label Order by:
            #orderby.btn-group
              button.form-control.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                | Default
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Default
                li
                  a(href='#') Author ascending
                li
                  a(href='#') Author descending
                li
                  a(href='#') Title ascending
                li
                  a(href='#') Title descending
                li
                  a(href='#') Price ascending
                li
                  a(href='#') Price descending
        main#content.col-md-offset-2.col-md-8

