doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    // Meta tags for facebook
    meta(property='og:description', content='The best bookstore around')
    meta(property='og:image', content='https://s-media-cache-ak0.pinimg.com/originals/70/bd/63/70bd630505578fffc4c873001f89a9e1.jpg')
    meta(property='og:image:width', content='400')
    meta(property='og:image:height', content='400')
    // End meta tags for facebook
    title Bookstore
    link(rel='shortcut icon', href='../app/fav-icon/faviconBook.png', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/libs/toastr/build/toastr.min.css')
    link(rel='stylesheet', href='/public/styles/silver-theme.css')
    link(rel='stylesheet', href='/public/styles/custom-theme.css')
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='/public/helpers/utils.js')
    script(src='/public/helpers/constants.js')
    script(src="https://rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js")
    script(src='/public/scripts/home.js')


  body
    header.position-fixed
      nav.navbar.navbar-default
        a#navbar-brand-id.navbar-brand(href='#/home/1&0') Books.bg
        form#search-control.navbar-form.navbar-right(role='search')
          input#search-input.form-control(type='text', placeholder='Search by title or author')
          a#search-btn.btn.btn-info Search
          a#shopping-cart-button.btn.btn-circle.hidden
            span.glyphicon.glyphicon-shopping-cart.cart
        #login-control.navbar-right
          a#nav-btn-login.btn.btn-info.hidden(href='/user/user@login') Login
          a#nav-btn-register.btn.btn-info.hidden(href='/users/register') Register
          a#nav-btn-logout.btn.btn-info.hidden(href='#/home/1&0') Logout
    #container
      .row
        aside.col-xs-2.position-fixed
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | Dropdown Example
              span.caret
            ul.dropdown-menu#genres-dropdown
          //- ul.nav.nav-pills.nav-stacked
            //- li.active
            //-   a Genres
            //- li
            //-   a.genre-info(href='/genre/Science and Technology&1') Science and Technology
            //- li
            //-   a.genre-info(href='/genre/Economy&1') Economy
            //- li
            //-   a.genre-info(href='/genre/Fantasy&1') Fantasy
            //- li
            //-   a.genre-info(href='/genre/Classics&1') Classics
            //- li
            //-   a.genre-info(href='/home/1&0') All
          #filters
            label Order by:
            #orderby.btn-group
              button.form-control.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                | Default
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Default
                li
                  a(href='#') Author ascending
                li
                  a(href='#') Author descending
                li
                  a(href='#') Title ascending
                li
                  a(href='#') Title descending
                li
                  a(href='#') Price ascending
                li
                  a(href='#') Price descending
        main#content.col-xs-offset-2.col-xs-8
        #shopping-cart-menu.col-xs-offset-9.col-xs-3.hidden.position-fixed

