mixin adminMenuMixin()
    #admin-control.navbar-right
      a#nav-btn-addbook.btn.btn-danger(href='/books/add') Add Book
      a#nav-btn-addgenre.btn.btn-danger(href='/genres/add') Add Genre
      a#nav-btn-addauthor.btn.btn-danger(href='/authors/add') Add Author
      a#nav-btn-users.btn.btn-danger(href='/users/') All Users
      a#nav-btn-allorders.btn.btn-danger(href='/orders/all') All Orders
      a#nav-btn-chat.btn.btn-danger(href='/users/chat') Chats Support
