mixin search()
    form#search-control.navbar-form.navbar-right(role='search')
      input#search-input.form-control(type='text', placeholder='Search by title or author')
      a#search-btn.btn.btn-info Search
      a#shopping-cart-button.btn.btn-circle.hidden
        span.glyphicon.glyphicon-shopping-cart.cart