extends ../_shared/layout
block body
  .col-md-offset-4.col-md-4.bordered.rounded
    form(action="/books/add" method="POST")
      .form-group
        label(for='title') Title:
        input#firstName.form-control(name="title" type='text' required)
      .form-group
        label(for='author') Author
        input#lastName.form-control(name="author" type='text' required)
      .form-group
        label(for='genre') Genre
        input#email.form-control(name="genre" type='text' required)
      .form-group
        label(for='rating') Rating:
        input#username.form-control(name="rating" type='text' required)
      .form-group
        label(for='price') Price:
        input#pwd.form-control(name="price" type='text' required)
      .form-group
        label(for='picture') PictureURL:
        input#pwd.form-control(name="picture" type='text' required)
      button.btn.btn-default(type='submit') Submit
